```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/

# Dependencies
venv/
.venv/
.env
.env.local
*.env.*

# Tests
.tests/
.pytest_cache/
.coverage
coverage/
htmlcov/

# Build artifacts
dist/
build/
target/
```